<template>
  <v-container>
    <v-row class="text-center">
      <v-col class="mb-10">
        <h1 class="display-2 font-weight-bold mb-5">
          🛻<br>요<br>소<br>수<br><br>조<br>회<br>🚚
        </h1>
      </v-col>

      <v-col
        class="mb-10"
        cols="10"
      >
        <template>
          <v-card>
            <v-card-title>
              <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                  @click="ureaSolutionInfo(1, 1000)"
              ></v-text-field>
            </v-card-title>
            <v-data-table
                :headers="headers"
                :items="dataInfo"
                :search="search"
            ></v-data-table>
          </v-card>
        </template>
        <br>
        <KakaoMap v-bind:markerPositions="markerPositions"/>
      </v-col>

    </v-row>
  </v-container>
</template>


<script>
import KakaoMap from "./KakaoMap";
  export default {
    name: 'Details',
    components: {
      KakaoMap
    },
    data: () => ({
      search: '',
      headers: [
        { text: '주유소 이름', value: 'name', align: 'center'},
        { text: '주유소 주소', value: 'address', align: 'center'},
        { text: '주유소 영업시간', value: 'opening_time', align: 'center'},
        { text: '재고량', value: 'remain', align: 'center'},
        { text: '가격', value: 'price', align: 'center'},
        { text: '주유소 전화번호', value: 'phone_num', align: 'center'}
      ],
      dataInfo: [
      ],
      items: [
        '주유소 이름',
        '주유소 주소',
        '주유소 영업시간',
        '재고량',
        '주유소 전화번호'
      ],
      variant: 'default',
      markerPositions: [
        // [37.499590490909185, 127.0263723554437],
        // [37.499427948430814, 127.02794423197847],
        // [37.498553760499505, 127.02882598822454],
        // [37.497625593121384, 127.02935713582038],
        // [37.49629291770947, 127.02587362608637],
        // [37.49754540521486, 127.02546694890695],
        // [37.49646391248451, 127.02675574250912],
      ]
    }),
    computed: {

    },
    methods: {
      ureaSolutionInfo(page, perPage) {
        let params = "returnType=JSON";
        params += "&page=" + page;
        params += "&perPage=" + perPage;
        params += "&serviceKey=1fLTjp9F0wleV%2BecECYPbQMEynnkR5g1plUDmRfmvtfo0v20Rm89BXP4F7%2Fervc002SSy92ofrjcDwJbsMeRZw%3D%3D";

        this.$axios.get("https://api.odcloud.kr/api/uws/v1/inventory?" + params)
            .then((res) => {
              let result = res.data;
              let data = result.data;

              for (let value in data) {
                let resultData = data[value];
                let dataInfoObj =  {
                  name: resultData.name,
                  address: resultData.addr,
                  opening_time: this.validCheck(resultData.openTime),
                  remain: resultData.inventory,
                  price: this.validCheck(resultData.price) + " 원",
                  phone_num: resultData.tel
                };
                this.dataInfo.push(dataInfoObj);
                this.markerPositions.push([Number(resultData.lat), Number(resultData.lng)]);
              }
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              console.log(">>> 조회 끝 <<<");
            });
      },
      validCheck(target) {
        return ([undefined, null, "", "undefined"].includes(target) ? "-" : target);
      }
    },
    created: function () {
      this.ureaSolutionInfo(1, 10000);
    }
  }
</script>
