<template>
    <v-col
        class="mb-10"
        cols="10"
        id="map"
    >
    </v-col>

</template>

<script>
export default {
  name: "KakaoMap",
  props: ["markerPositions"],
  data() {
    return {
      map: null,
      markerPositions2: [
        // [37.499590490909185, 127.0263723554437],
        // [37.499427948430814, 127.02794423197847],
        // [37.498553760499505, 127.02882598822454],
        // [37.497625593121384, 127.02935713582038],
        // [37.49629291770947, 127.02587362608637],
        // [37.49754540521486, 127.02546694890695],
        // [37.49646391248451, 127.02675574250912],
      ],
      markers: [],
      infowindow: null,
    };
  },
  mounted() {
    if (window.kakao && window.kakao.maps) {
      this.initMap();
    } else {
      const script = document.createElement("script");
      /* global kakao */
      script.onload = () => kakao.maps.load(this.initMap);
      script.src =
          "//dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=915cffed372954b7b44804ed422b9cf0";
      document.head.appendChild(script);
    }
  },
  methods: {
    initMap() {
      navigator.geolocation.getCurrentPosition((position) => {

        console.log("현재 사용자는 위도 " + position.coords.latitude + ", 경도 " + position.coords.longitude + "에 위치하고 있습니다.");
        const container = document.getElementById("map");
        const options = {
          center: new kakao.maps.LatLng(position.coords.latitude, position.coords.longitude),
          level: 10,
        };
        this.map = new kakao.maps.Map(container, options);

        if (this.markers.length > 0) {
          this.markers.forEach((marker) => marker.setMap(null));
        }

        const positions = this.markerPositions.map(
            (position) => new kakao.maps.LatLng(...position)
        );

        if (positions.length > 0) {
          this.markers = positions.map(
              (position) =>
                  new kakao.maps.Marker({
                    map: this.map,
                    position,
                  })
          );

          const bounds = positions.reduce(
              (bounds, latlng) => bounds.extend(latlng),
              new kakao.maps.LatLngBounds()
          );

          this.map.setBounds(bounds);
        }
      }, (err)=>{
        console.log(err)
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#map {
  width: 830px;
  height: 830px;
}

.button-group {
  margin: 10px 0px;
}

button {
  margin: 0 3px;
}
</style>
