<template>
  <v-app>

    <v-main>
      <Details/>
      <KakaoMap />
    </v-main>
  </v-app>
</template>

<script>
import Details from './components/Details';

export default {
  name: 'Index',

  components: {
    Details
  },

  data: () => ({
    //
  }),
};
</script>
